/* color palette from <https://github.com/vuejs/theme> */
:root{
  /* cores principais */
  --cor-principal-1: rgb(30, 143, 225);
  --cor-principal-2: rgb(0, 68, 136);
  --cor-principal-2-1: #003f7e;
}

:root {
  /* cores modo escuro */
  --cor-backgroud-1: #f5f5f5;
  --cor-backgroud-2: #383838;
  --cor-backgroud-3: #535353;

  --cor-texto-1-dark: #f5f5f5;
  --cor-texto-2-dark: #aeaeae;
}
:root {
  /* cores modo claro */
  --cor-backgroud-1-dark: #1e1e1e;
  --cor-backgroud-2-dark: #383838;
  --cor-backgroud-3-dark: #535353;

  --cor-texto-1-dark: #f5f5f5;
  --cor-texto-2-dark: #aeaeae;
}


/* semantic color variables for this project */
:root {
  --color-background: var(--cor-backgroud-1-dark);
  --color-background-2: var(--cor-backgroud-2-dark);
  --color-background-3: var(--cor-backgroud-3-dark);

  --color-text-1: var(--cor-texto-1-dark);
  --color-text-2: var(--cor-texto-2-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--cor-backgroud-1-dark);
    --color-background-2: var(--cor-backgroud-2-dark);
    --color-background-3: var(--cor-backgroud-3-dark);

    --color-text-1: var(--cor-texto-1-dark);
    --color-text-2: var(--cor-texto-2-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /* overflow-x: hidden; */
  color: var(--color-text-1);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}